/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 12px Verdana;
list-style-type: none;
border-bottom: 1px solid gray;
background-image: url(../images/h2_title2.gif);
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 3px 6px; /*padding inside each tab*/
border-right: 1px solid white; /*right divider between tabs*/
color: white;
background-image: url(../images/h2_title2.gif);
}

.mattblackmenu li a:visited{
color: white;
}

.mattblackmenu li a:hover{
background: #0066CC;
}

.mattblackmenu a.selected{
background: #0066CC; /*background of tab with "selected" class assigned to its LI */
}