input[type=checkbox].aca,
input[type=radio].aca {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
label input[type=checkbox].aca,
label input[type=radio].aca {
  z-index: -100 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
input[type=checkbox].aca:checked,
input[type=radio].aca:checked,
input[type=checkbox].aca:focus,
input[type=radio].aca:focus {
  outline: none !important;
}
input[type=checkbox].aca + .lbl,
input[type=radio].aca + .lbl {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: normal;
  cursor: pointer;
}
input[type=checkbox].aca + .lbl::before,
input[type=radio].aca + .lbl::before {
  cursor: pointer;
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 12px;
  color: #32a3ce;
  content: "\a0";
  background-color: #FAFAFA;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  /*, inset 0px -15px 10px -12px rgba(0,0,0,0.05);*/
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 14px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}
input[type=checkbox].aca:checked + .lbl::before,
input[type=radio].aca:checked + .lbl::before {
  display: inline-block;
  content: '\f00c';
  background-color: #F5F8FC;
  border-color: #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
input[type=checkbox].aca:hover + .lbl::before,
input[type=radio].aca:hover + .lbl::before,
input[type=checkbox].aca + .lbl:hover::before,
input[type=radio].aca + .lbl:hover::before {
  border-color: #ff893c;
}
input[type=checkbox].aca:active + .lbl::before,
input[type=radio].aca:active + .lbl::before,
input[type=checkbox].aca:checked:active + .lbl::before,
input[type=radio].aca:checked:active + .lbl::before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=checkbox].aca.aca-checkbox-2 + .lbl::before,
input[type=radio].aca.aca-checkbox-2 + .lbl::before {
  box-shadow: none;
}
input[type=checkbox].aca.aca-checkbox-2:checked + .lbl::before,
input[type=radio].aca.aca-checkbox-2:checked + .lbl::before {
  background-color: #f9a021;
  border-color: #f9a021;
  color: #FFF;
}
input[type=checkbox].aca:disabled + .lbl::before,
input[type=radio].aca:disabled + .lbl::before,
input[type=checkbox].aca[disabled] + .lbl::before,
input[type=radio].aca[disabled] + .lbl::before,
input[type=checkbox].aca.disabled + .lbl::before,
input[type=radio].aca.disabled + .lbl::before {
  background-color: #DDD !important;
  border-color: #CCC !important;
  box-shadow: none !important;
  color: #BBB;
}
.checkbox label input[type=checkbox].aca + .lbl,
.radio label input[type=radio].aca + .lbl {
  margin-left: -10px;
}