@C!PE OMAH HERBORIST
 MASPION SQUARE
 Lt.1 K102
 


				Kirim Barang CounterF

NoPengiriman   :KC-1400007 	Counter :OH-SBY02 - OH SBY BG JUNCTION 	
Tanggal Terima :23-02-2014 	
Keterangan     :TES        	
--------------------------------------------------------------------------------
No  Kode    Nama Barang                     Qty       Harga    Total  
--------------------------------------------------------------------------------
1   090101  HERBORIST LLR BNGKOANG 100-NEW    2  pcs    8600  17.200  
2   090105  HERBORIST LLR ROSE 100 - NEW      5  pcs    8600  43.000  
--------------------------------------------------------------------------------
Hal : 001/001 C/O : retail/03032014-152032
                                       Total             :   60.200
                                       PPN 10%           :    6.020
                                       Nett              :   66.220


     Dibuat Oleh,                    Disetujui Oleh,




(                     )         (                      )