@C!PE OMAH HERBORIST
 CiWalk
 CTR #
 


				PENERIMAAN BARANGF

NoPenerimaan   :16000040     	No Order :090                        	
Tanggal Terima :30-08-2016   	Supplier :HO - PT.Suka Sukses Sejati 	
Keterangan     :ORDER CIWALK 	
--------------------------------------------------------------------------------
No  Kode    Nama Barang                                 Qty       Harga     Total  
--------------------------------------------------------------------------------
1   023002  VICTORIA HAND CREAM ALOEVERA                 24  pcs       0        0  
2   090102  HERBORIST LLR CHOCOLAT 100-NEW                6  pcs   8.600   51.600  
3   090103  HERBORIST LLR MILK 100 - NEW                 12  pcs       0        0  
4   090104  HERBORIST LLR PEPAYA 100-NEW                  6  pcs   8.600   51.600  
5   090106  HERBORIST LLR STRWBERY 100-NEW                6  pcs   8.600   51.600  
6   090107  HERBORIST LLR AVOCADO 100-NEW                 6  pcs   8.600   51.600  
7   090110  HERBORIST LLR CENDANA 100-NEW                12  pcs   8.600  103.200  
8   090113  HERBORIST LLR ZAITUN 100 - NEW               12  pcs   8.700  104.400  
9   090124  HERBORIST LLR ROSE 200 - NEW                  6  pcs  14.900   89.400  
10  090126  HERBORIST LLR KIWI 200 - NEW                  6  pcs  14.900   89.400  
11  091022  HERBORIST DASIR GARDENIA 200                  3  pcs   8.800   26.400  
12  093001  HERBORIST SABUN SERE 80                       6  pcs   4.200   25.200  
--------------------------------------------------------------------------------
Hal : 001/003 C/O : OOMOMH/01092016-150406




0
2@C!PE OMAH HERBORIST
 CiWalk
 CTR #
 


				PENERIMAAN BARANGF

NoPenerimaan   :16000040     	No Order :090                        	
Tanggal Terima :30-08-2016   	Supplier :HO - PT.Suka Sukses Sejati 	
Keterangan     :ORDER CIWALK 	
--------------------------------------------------------------------------------
No  Kode    Nama Barang                                 Qty       Harga     Total  
--------------------------------------------------------------------------------
13  095015  HERBORIST BUTTER COKLAT                      24  pcs       0        0  
14  095016  HERBORIST BUTTER ZAITUN                      24  pcs       0        0  
15  095017  HERBORIST BUTTER MATCHA MILK                 24  pcs       0        0  
16  095018  HERBORIST BUTTER STRWBRY SORBET              24  pcs       0        0  
17  095031  HERBORIST BUTTER BANANA (POT)                 6  pcs  25.700  154.200  
18  096045  HERBORIST ESS OIL 10 JASMINE                  3  pcs       0        0  
19  098002  HERBORIST MASSAGE OIL LAVENDER                3  pcs  18.100   54.300  
20  098004  HERBORIST MASSAGE OIL FRNGPNI                24  pcs  18.100  434.400  
21  098005  HERBORIST MASSAGE OIL JASMINE                 6  pcs  18.100  108.600  
22  099104  HERBORIST NS SWEET BERRIES                   24  pcs  12.700  304.800  
23  099105  HERBORIST NS BLOOMING MANDARIN               24  pcs  12.700  304.800  
24  099204  NATURAL BODY WASH BLOOMING MANDARIN 220 ML   12  pcs  16.400  196.800  
--------------------------------------------------------------------------------
Hal : 002/003 C/O : OOMOMH/01092016-150406




0
2@C!PE OMAH HERBORIST
 CiWalk
 CTR #
 


				PENERIMAAN BARANGF

NoPenerimaan   :16000040     	No Order :090                        	
Tanggal Terima :30-08-2016   	Supplier :HO - PT.Suka Sukses Sejati 	
Keterangan     :ORDER CIWALK 	
--------------------------------------------------------------------------------
No  Kode    Nama Barang                                 Qty       Harga     Total  
--------------------------------------------------------------------------------
25  099303  HERB.NATURAL HBL SPRING LAVENDER             12  pcs  17.200  206.400  
26  099304  HERB.NATURAL HBL BLOMING MANDARIN             5  pcs  17.200   86.000  
27  099401  HERBORIST FACIAL FOAM ZAITUN                  6  pcs       0        0  
28  990023  HERBORIST PAKET ZAITUN FULL TREATMENT        24  pcs       0        0  
--------------------------------------------------------------------------------
Hal : 003/003 C/O : OOMOMH/01092016-150406
                                       Total             :2.494.700
                                       PPN 10%           :  249.470
                                       Nett              :2.744.170


     Dibuat Oleh,                    Disetujui Oleh,




(                     )         (                      )