@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
1    023001  VICTORIA HAND CREAM ALMOND               10         11           1   -18500  
2    023002  VICTORIA HAND CREAM ALOEVERA              8          7           1    18500  
3    023003  VICTORIA HAND CREAM PMGRNTE               0          0                    0  
4    044001  NUFACE BB CREAM NATURAL                   3          1           2    92000  
5    044002  NUFACE BB CREAM HONEY BEIGE               2          1           1    46000  
6    090101  HERBORIST LLR BNGKOANG 100-NEW           34         34                    0  
7    090102  HERBORIST LLR CHOCOLAT 100-NEW           13         14           1   -13500  
8    090103  HERBORIST LLR MILK 100 - NEW              3          3                    0  
9    090104  HERBORIST LLR PEPAYA 100-NEW              8          8                    0  
10   090105  HERBORIST LLR ROSE 100 - NEW              6          6                    0  
11   090106  HERBORIST LLR STRWBERY 100-NEW            8          9           1   -13500  
12   090107  HERBORIST LLR AVOCADO 100-NEW             9          8           1    13500  
----------------------------------------------------------------------------------
Hal : 001/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
13   090108  HERBORIST LLR GREN TEA 100-NEW            5          5                    0  
14   090109  HERBORIST LLR KIWI 100 - NEW              0          0                    0  
15   090110  HERBORIST LLR CENDANA 100-NEW             2          2                    0  
16   090113  HERBORIST LLR ZAITUN 100 - NEW           43         18          25   337500  
17   090114  HERBORIST LLR BERAS 100 NEW               0          0                    0  
18   090121  HERBORIST LLR BNGKOANG 200-NEW           18          3          15   337500  
19   090122  HERBORIST LLR MILK 200 - NEW             21         10          11   247500  
20   090123  HERBORIST LLR GREN TEA 200-NEW           32         20          12   270000  
21   090124  HERBORIST LLR ROSE 200 - NEW             17          5          12   270000  
22   090125  HERBORIST LLR STRWBERY 200-NEW           16          6          10   225000  
23   090126  HERBORIST LLR KIWI 200 - NEW             29         15          14   315000  
24   090131  HERBORIST X-SCRUB BNGKOANG-NEW            9          9                    0  
----------------------------------------------------------------------------------
Hal : 002/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
25   090132  HERBORIST X-SCRUB GREN TEA-NEW            8          8                    0  
26   090133  HERBORIST X-SCRUB MILK - NEW              8          8                    0  
27   090134  HERBORIST X-SCRUB ROSE - NEW             15         13           2    27000  
28   090135  HERBORIST X-SCRUB STRWBERY-NEW            7          5           2    27000  
29   091001  HERBORIST DASIR FL BOUQUET 200            6          5           1    14000  
30   091002  HERBORIST DASIR WHITE MUSK 200            4          5           1   -14000  
31   091003  HERBORIST DASIR PINK ROSE 200             6          5           1    14000  
32   091011  HERBORIST DASIR FL BOUQUET 120            0          0                    0  
33   091012  HERBORIST DASIR WHITE MUSK 120            0          0                    0  
34   091013  HERBORIST DASIR PINK ROSE  120            0          1           1    -8000  
35   091021  HERBORIST DASIR LILY 200                  7          7                    0  
36   091022  HERBORIST DASIR GARDENIA 200              6          6                    0  
----------------------------------------------------------------------------------
Hal : 003/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
37   091023  HERBORIST DASIR JASMINE 200               5          5                    0  
38   091031  HERBORIST DASIR FL BOUQUET 60             0          0                    0  
39   091032  HERBORIST DASIR WHITE MUSK 60             0          0                    0  
40   091033  HERBORIST DASIR PINK ROSE 60              0          0                    0  
41   091034  HERBORIST DASIR LILY 60                   0          0                    0  
42   091035  HERBORIST DASIR GARDENIA 60               0          0                    0  
43   091036  HERBORIST DASIR JASMINE 60                0          0                    0  
44   093001  HERBORIST SABUN SERE 80                  24         28           4   -28000  
45   093002  HERBORIST SABUN SERE 160                115         68          47   517000  
46   093021  HERBORIST SABUN BERAS MERAH 80           53         62           9  -117000  
47   093022  HERBORIST SABUN BERAS PUTIH 80           44         46           2   -26000  
48   093031  HERBORIST SABUN ZAITUN 80                62         39          23   391000  
----------------------------------------------------------------------------------
Hal : 004/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
49   094001  HERBORIST DASIR LILY 120                  0          1           1    -8000  
50   094002  HERBORIST DASIR GARDERNIA 120             0          0                    0  
51   094003  HERBORIST DASIR JASMINE 120               0          0                    0  
52   094011  PLS MNJKNI                               13         13                    0  
53   094012  PLS MADURA                               -2          0           2   -38000  
54   095012  HERBORIST BUTTER BANANA (NEW)            46         45           1    21000  
55   095013  HERBORIST BUTTER MANGO (NEW)             32         35           3   -63000  
56   095015  HERBORIST BUTTER COKLAT                  17         17                    0  
57   095016  HERBORIST BUTTER ZAITUN                  18         20           2   -42000  
58   095031  HERBORIST BUTTER BANANA (POT)             5          6           1   -32000  
59   095032  HERBORIST BUTTER MANGO (POT)              0          0                    0  
60   096023  HERBORIST ARM LEMON-X HOT(NEW)           20          8          12   162000  
----------------------------------------------------------------------------------
Hal : 005/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
61   096024  HERBORIST ARM PRMNT-X HOT(NEW)           19          7          12   162000  
62   096031  HERBORIST ARMTPY LEMON(NEW)               0          0                    0  
63   096032  HERBORIST ARMTPY PPRMINT(NEW)            25         13          12   162000  
64   096033  HERBORIST ARMTPY GRN TEA(NEW)            17          5          12   162000  
65   096034  HERBORIST ARMTPY LAVENDER(NEW)           22          8          14   189000  
66   096040  HERBORIST ESS OIL 10 CEMPAKA             30         23           7   224000  
67   096041  HERBORIST ESS OIL 10 CANANGA             26         13          13   416000  
68   096042  HERBORIST ESS OIL 10 CHAMOMILE            6          2           4   128000  
69   096043  HERBORIST ESS OIL 10 FRNGIPANI            0          0                    0  
70   096044  HERBORIST ESS OIL 10 GREEN TEA           20         12           8   256000  
71   096045  HERBORIST ESS OIL 10 JASMINE              7          2           5   160000  
72   096046  HERBORIST ESS OIL 10 LAVENDER            17         11           6   192000  
----------------------------------------------------------------------------------
Hal : 006/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
73   096047  HERBORIST ESS OIL 10 ROSE                 2          2                    0  
74   096048  HERBORIST ESS OIL 10 SNDALWOOD           27         15          12   384000  
75   096049  HERBORIST ESS OIL 10 LMNGRASS             5          5                    0  
76   098001  HERBORIST MASSAGE OIL GRN TEA            30         16          14   434000  
77   098002  HERBORIST MASSAGE OIL LAVENDER           16          5          11   341000  
78   098003  HERBORIST MASSAGE OIL CEMPAKA            16         17           1   -31000  
79   098004  HERBORIST MASSAGE OIL FRNGPNI            24         12          12   372000  
80   098005  HERBORIST MASSAGE OIL JASMINE             7          5           2    62000  
81   098006  HERBORIST MASSAGE OIL LEMONGRS           11         11                    0  
82   098021  HERBORIST MINYAK ZAITUN 150 ML           15          0          15   420000  
83   098022  HERBORIST MINYAK ZAITUN 75                0          1           1   -19000  
84   099011  HERBORIST BALI BOAT AFT SUNGEL            2          2                    0  
----------------------------------------------------------------------------------
Hal : 007/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
85   099012  HERBORIST BALI BOAT AFT SUNLOT            2          2                    0  
86   099021  HERBORIST BALI BOAT SPF LOT 30            8          0           8   840000  
87   099022  HERBORIST BALI BOAT SPF LOT 50            8          2           6   750000  
88   099023  HERBORIST B.BOAT SPF LOT 30GR             0          9           9  -252000  
89   099024  H B.BOAT SPF LOT 50 30GR                  0          5           5  -175000  
90   099101  HERBORIST NS SPRING LAVENDER             40         16          24   420000  
91   099102  HERBORIST NS MUSK VANILA                 27         27                    0  
92   099103  HERBORIST NS MORNING GREEN TEA           30         35           5   -87500  
93   099104  HERBORIST NS SWEET BERRIES               34         12          22   385000  
94   099105  HERBORIST NS BLOOMING MANDARIN           48         20          28   490000  
95   099201  NATURAL BW SWEET BERRIE                  28         15          13   312000  
96   099202  NATURAL BW MORNING GREE                  20         21           1   -24000  
----------------------------------------------------------------------------------
Hal : 008/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
97   099203  NATURAL BW SPRING LAVEN                   0          0                    0  
98   099204  NATURAL BW BLOOMING MAN                  -1          0           1   -24000  
99   099205  NATURAL BW MUSK VANILLA                   1          0           1    24000  
100  099301  HERB.NATURAL HBL SWEET BERRIES            6          5           1    26000  
101  099302  HERB.NATURAL HBL GREEN TEA                6          4           2    52000  
102  099303  HERB.NATURAL HBL SPRING LAVEND           11         10           1    26000  
103  099304  HERB.NATURAL HBL BLOMING MANDA           13         11           2    52000  
104  099305  HERB.NATURAL HBL MUSK VANILA              7          7                    0  
105  099401  HERBORIST FACIAL FOAM ZAITUN             35         11          24   528000  
106  099911  BATH ROSE GD 50                           0          0                    0  
107  099912  BATH LVNDER 50                            0          0                    0  
108  099913  BATH GRN TEA 50                           0          0                    0  
----------------------------------------------------------------------------------
Hal : 009/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
109  099914  BATH MLK VNL 50                           0          0                    0  
110  099915  BATH EX JSMN 50                           0          0                    0  
111  099916  BATH FR PANI 50                           0          0                    0  
112  099921  BATH ROSE G 250                           2          2                    0  
113  099922  BATH LVNDER 250                           1          1                    0  
114  099923  BATH GRN TE 250                           1          1                    0  
115  099924  BATH MLK VN 250                           3          3                    0  
116  099925  BATH EX JSM 250                           1          1                    0  
117  099926  BATH FR PAN 250                           0          0                    0  
118  099932  HERBORIST BATH SALT LVNDER 100            2          2                    0  
119  099933  HERBORIST BATH SALT GRN TE 100            1          1                    0  
120  099935  HERBORIST BATH SALT EX JSM 100            1          1                    0  
----------------------------------------------------------------------------------
Hal : 010/011 C/O : retail/04032016-160221








0
2@C!PEOMAH HERBORIST
CiWalk
CTR #

				OPNAMEF
NoOpname   :21              	TglOpname :02-03-2016 	
Keterangan :SO 1 MARET 2016 	
----------------------------------------------------------------------------------
No   Kode    Nama Barang                     QtyKomputer  QtyOpname  QtySelisih    Harga  
----------------------------------------------------------------------------------
121  610003  TUNGKU AROMA TERAPHY                      3          3                    0  
122  990022  PAKET TUNGKU                              7          1           6   660000  
123  990023  PAKET ZAITUN                             34         12          22  1980000  
124  999005  PAKET ZAITUN                              0          0                    0  
125  999121  PAKET XMAS SPRING LAVENDER                0          0                    0  
126  999122  PAKET XMAS BLOOMING MANDARIN              0          0                    0  
127  999123  PAKET XMAS SWEET BERRIES                  0          0                    0  
128  999124  PAKET XMAS MORNING GREEN TEA              0          0                    0  
129  999125  PAKET XMAS MUSK VANILLA                   0          0                    0  
----------------------------------------------------------------------------------
Hal : 011/011 C/O : retail/04032016-160221

     Dibuat Oleh,                    Disetujui Oleh,




(                     )         (                      )