@C!PEOMAH HERBORIST
KAWASAN INDUSTRI CANDI BLOK 5A/8
KRAPYAK SEMARANG

				RETUR BARANGF
No Retur      :R2         	Supplier :HO - PT.Suka Sukses Sejati 	
Tanggal Retur :02-07-2013 	         :Pergudangan Candi          	
Keterangan    :-          	         :(024) 76633311             	
--------------------------------------------------------------------------------
No  Kode    Nama Barang                   Qty       Harga   Total  
--------------------------------------------------------------------------------
1   010008  MIRANDA H.COLOR BROWN 30.MC9    1  pcs  5.800   5.800  
2   600014  MANGKOK KAYU SEDANG             3  pcs  7.100  21.300  
--------------------------------------------------------------------------------
Hal : 001/001 C/O : retail/17092013-1426555
57
5710


     Dibuat Oleh,                    Disetujui Oleh,




(                     )         (                      )