@C!PE OMAH HERBORIST
 KAWASAN INDUSTRI CANDI BLOK 5A/8
 KRAPYAK SEMARANG
 


				PURCHASE ORDERF

Supplier       :HO - PT.Suka Sukses Sejati    	PO Number  :PO4        	
Contact Person :Ibu Fenita                    	PO Date    :12-07-2013 	
Telp / Fax     :(024) 76633311-(024) 76633308 	Keterangan :COBA       	
--------------------------------------------------------------------------------
No  Kode    Nama Barang                     Qty       Harga   Total  
--------------------------------------------------------------------------------
1   010001  MIRANDA H.COLOR N.BLACK 30.MC1    3  pcs  5.800  17.400  
2   010021  MIRANDA VITAMIN RAMBUT PINK       4  pcs  5.800  23.200  
--------------------------------------------------------------------------------
Hal : 001/001 C/O : retail/17092013-142925
                                       Total             :   40.600
                                       PPN 10%           :    4.060
                                       Nett              :   44.660


     Dibuat oleh,                    Disetujui oleh,




(                     )         (                      )