@C!PEOMAH HERBORIST
KAWASAN INDUSTRI CANDI BLOK 5A/8
KRAPYAK SEMARANG

				Penerimaan Lain LainF
NoDokumen  :10         	
TglDokumen :08-07-2013 	
Keterangan :-          	
--------------------------------------------------------------------------------
No  KdBarang  Nama                            Qty  Harga Jual   Total  
--------------------------------------------------------------------------------
1   010001    MIRANDA H.COLOR N.BLACK 30.MC1   33        5800  191400  
2   050011    SIXSENCE CRYSTAL BLUE 100(NEW)   14        8800  123200  
--------------------------------------------------------------------------------

     Dibuat Oleh                       Menyetujui




(                     )         (                      )