@C!PE OMAH HERBORIST
 KAWASAN INDUSTRI CANDI BLOK 5A/8
 KRAPYAK SEMARANG
 


				PENERIMAAN BARANGF

NoPenerimaan   :7          	No Order :-                          	
Tanggal Terima :10-09-2013 	Supplier :HO - PT.Suka Sukses Sejati 	
Keterangan     :COBA       	
--------------------------------------------------------------------------------
No  Kode    Nama Barang                     Qty       Harga    Total  
--------------------------------------------------------------------------------
1   010001  MIRANDA H.COLOR N.BLACK 30.MC1    2  pcs   5.800  11.600  
2   010002  MIRANDA H.COLOR BLUE 30.MC2       2  pcs   5.800  11.600  
3   010003  MIRANDA HCOLOR REDASFIRE30.MC3    3  pcs   5.800  17.400  
4   010004  MIRANDA H.COLOR ORANGE30.MC4      1  pcs   5.800   5.800  
5   010005  MIRANDA H.COLOR PINK 30.MC5       3  pcs   5.800  17.400  
6   010007  MIRANDA H.COLOR VIOL.RED30.MC8    2  pcs   5.800  11.600  
7   020011  VICTORIA BS STARLITE  120(NEW)    2  pcs  13.700  27.400  
8   020012  VICTORIA BS SENSATION 120(NEW)    2  pcs  13.700  27.400  
9   020013  VICTORIA BS SILHOUETE 120(NEW)    5  pcs  13.700  68.500  
10  020014  VICTORIA BS SOULMATE  120(NEW)    4  pcs  13.700  54.800  
11  020015  VICTORIA BS SERENADE  120(NEW)    2  pcs  13.700  27.400  
12  050011  SIXSENCE CRYSTAL BLUE 100(NEW)    2  pcs   8.800  17.600  
--------------------------------------------------------------------------------
Hal : 001/002 C/O : retail/17092013-142816




0
2@C!PE OMAH HERBORIST
 KAWASAN INDUSTRI CANDI BLOK 5A/8
 KRAPYAK SEMARANG
 


				PENERIMAAN BARANGF

NoPenerimaan   :7          	No Order :-                          	
Tanggal Terima :10-09-2013 	Supplier :HO - PT.Suka Sukses Sejati 	
Keterangan     :COBA       	
--------------------------------------------------------------------------------
No  Kode    Nama Barang                     Qty       Harga    Total  
--------------------------------------------------------------------------------
13  050012  SIXSENCE DAZZL PURPLE 100(NEW)    4  pcs   8.800  35.200  
--------------------------------------------------------------------------------
Hal : 002/002 C/O : retail/17092013-142816
                                       Total             :  333.700
                                       PPN 10%           :   33.370
                                       Nett              :  367.070


     Dibuat Oleh,                    Disetujui Oleh,




(                     )         (                      )