@C!PE OMAH HERBORIST
 KAWASAN INDUSTRI CANDI BLOK 5A/8
 KRAPYAK SEMARANG
 


				PENERIMAAN LAIN LAINF

NoDokumen  :10         	
TglDokumen :08-07-2013 	
Keterangan :-          	
--------------------------------------------------------------------------------
No  Kode    Nama Barang                     Qty       Harga    Total  
--------------------------------------------------------------------------------
1   010001  MIRANDA H.COLOR N.BLACK 30.MC1   33  pcs  5.800  191.400  
2   050011  SIXSENCE CRYSTAL BLUE 100(NEW)   14  pcs  8.800  123.200  
--------------------------------------------------------------------------------
Hal : 001/001 C/O : retail/17092013-120842
                                       Total             :   314.600
                                       PPN 10%           :    31.460
                                       Nett              :   346.060


     Dibuat Oleh,                     Disetujui Oleh,




(                     )         (                      )