@C!PEOMAH HERBORIST
KAWASAN INDUSTRI CANDI BLOK 5A/8
KRAPYAK SEMARANG

				OpnameF
NoOpname   :20   	TglOpname :12-07-2013 	
Keterangan :COBA 	
--------------------------------------------------------------------------------
No  KdBarang  Nama                            QtyKomputer  QtyOpname  QtySelisih  
--------------------------------------------------------------------------------
1   010001    MIRANDA H.COLOR N.BLACK 30.MC1  147          1          146         
2   010002    MIRANDA H.COLOR BLUE 30.MC2     27           27                     
3   010003    MIRANDA HCOLOR REDASFIRE30.MC3  24           24                     
4   010004    MIRANDA H.COLOR ORANGE30.MC4    36           3          33          
5   010005    MIRANDA H.COLOR PINK 30.MC5     24           24                     
6   010006    MIRANDA H.COLOR F.RED 30.MC7    22           22                     
7   010007    MIRANDA H.COLOR VIOL.RED30.MC8  19           19                     
8   010012    MIRANDA H.COL BLEACHING 30.MC6  23           23                     
9   010013    MIRANDA H.COL R. PURPLE 30MC13  21           21                     
10  020011    VICTORIA BS STARLITE  120(NEW)  5            5                      
11  020012    VICTORIA BS SENSATION 120(NEW)  9            9                      
--------------------------------------------------------------------------------








0
2@C!PEOMAH HERBORIST
KAWASAN INDUSTRI CANDI BLOK 5A/8
KRAPYAK SEMARANG

				OpnameF
NoOpname   :20   	TglOpname :12-07-2013 	
Keterangan :COBA 	
--------------------------------------------------------------------------------
No  KdBarang  Nama                            QtyKomputer  QtyOpname  QtySelisih  
--------------------------------------------------------------------------------
12  020013    VICTORIA BS SILHOUETE 120(NEW)  7            7                      
13  020014    VICTORIA BS SOULMATE  120(NEW)  7            7                      
14  020015    VICTORIA BS SERENADE  120(NEW)  7            2          5           
--------------------------------------------------------------------------------

     Dibuat Oleh                       Menyetujui




(                     )         (                      )